<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>{{ _('Firefox Health Report') }}</title>
    <meta charset="utf-8">

    <link href="css/styles.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>

    </head>
    <body>


    <div class="persistentHeader">

      <div class="headerContainer">

        <div class="navAndBlurb">
          <div class="nav">
            <div class="nav-category active">{{ _('Firefox Health Report') }}</div>
            <div class="nav-separator"></div>
            <div class="nav-category">{{ _('Raw Data') }}</div>
          </div>
          <div class="blurb">{{ _('Get insights and performance information about your version of Firefox.') }} <a href="">{{ _('Learn more...') }}</a></div>
        </div>

        <div class="activationWidget">
          <div class="activationTextContainer">{{ _('Data Sharing') }}<br><span class="tabEnabledText">{{ _('ON') }}</span></div>
          <div class="activationTabContainer">
            <div class="activationTabOverlay"></div>
            <div class="activationTab"></div>
          </div>

          <div class="panelContainer disabledPanel">
            <div class="panelContainerArrow"></div>
            <div class="panelContainerBase">
              <div class="panelContainerContent">
                <p>{{ _('You\'ve chosen to stop sharing data with Mozilla, but you\'ll still be able to see how your browser is performing.') }}</p>
                <p class="greyText">{{ _('Learn how we handle your data in our <a href="">privacy policy.</a>') }}</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

        <div class="outerContainer">

          <div class="outerContainer-lightBox">
          <div class="outerContainer-introSheet">
              <div class="outerContainer-introSheet-header">{{ _('Welcome!') }}</div>
              <div class="outerContainer-introSheet-introImage">
                {{ _('Firefox Health Report lets you know how your Firefox is performing and what you can do to improve it.') }}
              </div>
              <div class="outerContainer-introSheet-button">
                <div class="spacer"></div>
                <button class="button default" id="button-goToMyReport">{{ _('See My Report') }}</button>
              </div>
          </div>
          </div>

        <div class="sidebar">
            <div class="statsBox">

          <div class="statsBoxSection">
            <div class="statsBoxSection-header"><img class="icon" src="img/icon-vitalStats.png" height="16" width="28">{{ _('Vital Stats') }}</div>
            <div class="statsBoxSection-content">
              <ul>
                <li>{{ _('Version') }}<span class="statsBoxSection-value">Firefox 22.0b1</span></li>
                <li>{{ _('Open for') }}<span class="statsBoxSection-value">10:23 hrs</span></li>
                <li>{{ _('Last crash') }}<span class="statsBoxSection-value">6/12/2012</span></li>
                <li>{{ _('Bookmarks') }}<span class="statsBoxSection-value">3,456,098</span></li>
              </ul>
            </div>
            </div>
            <div class="statsBoxSection-separator"></div>

          <div class="statsBoxSection">
            <div class="statsBoxSection-header"><img class="icon" src="img/icon-thisMonth.png" height="16" width="16">{{ _('This Month') }}</div>
            <div class="statsBoxSection-content">
              <ul>
                <li>{{ _('Time open') }}<span class="statsBoxSection-value">44 hrs</span></li>
                <li>{{ _('Pages visited') }}<span class="statsBoxSection-value">3,458</span></li>
                <li>{{ _('Crashes') }}<span class="statsBoxSection-value">1.5</span></li>
              </ul>
            </div>
            </div>
            <div class="statsBoxSection-separator"></div>

          <div class="statsBoxSection">
            <div class="statsBoxSection-header">
              <img class="icon" src="img/icon-addons.png" height="16" width="16">{{ _('Add-ons') }}<span class="statsBoxSection-value"><a href="#">{{ _('View List') }}</a></span>
            </div>
            <div class="statsBoxSection-content">
              <ul>
                <li>{{ _('Enabled') }}<span class="statsBoxSection-value">2</span></li>
                <li>{{ _('Disabled') }}<span class="statsBoxSection-value">4</span></li>
              </ul>
            </div>
            </div>
            <div class="statsBoxSection-separator"></div>

          <div class="statsBoxSection">
            <div class="statsBoxSection-header">
              <img class="icon" src="img/icon-plugins.png" height="16" width="16">{{ _('Plugins') }}<span class="statsBoxSection-value"><a href="#">{{ _('View List') }}</a></span>
            </div>
            <div class="statsBoxSection-content">
              <ul>
                <li>{{ _('Enabled') }}<span class="statsBoxSection-value">2</span></li>
                <li>{{ _('Disabled') }}<span class="statsBoxSection-value">4</span></li>
              </ul>
            </div>
            </div>

            </div>
        </div>

        <div class="mainContent">

        <div class="tipBoxes">
          <div class="tipBox-container">
            <div class="icon closeTip"></div>
            <div class="tipBox-header">
              <div class="icon expanderArrow"></div>
              <div class="text">{{ _('Tips') }}</div>
            </div>
            <div class="tipBox-content">
              <p>{{ _('It looks like your browser has crashed a number of times recently. To learn more:') }}</p>
              <ul>
               <li>{{ _('Visit our <a href="https://support.mozilla.org">support website</a>') }}</li>
               <li>{{ _('View more <a href="">detailed information</a>') }}</li>
              </ul>
            </div>
          </div>

          <div class="tipBox-container">
            <div class="icon closeTip"></div>
            <div class="tipBox-header">
              <div class="icon expanderArrow"></div>
              <div class="text">{{ _('Tips') }}</div>
            </div>
            <div class="tipBox-content">
              <p>{{ _('Your browser seems to be running slower than usual. To learn more:') }}</p>
               <li>{{ _('Visit our <a href="https://support.mozilla.org">support website</a>') }}</li>
               <li>{{ _('View more <a href="">detailed information</a>') }}</li>
            </div>
          </div>

          <div class="tipBox-container">
            <div class="icon closeTip"></div>
            <div class="tipBox-header">
              <div class="icon expanderArrow"></div>
              <div class="text">{{ _('Tips') }}</div>
            </div>
            <div class="tipBox-content">
              <p>{{ _('You\'ll be able to see more interesting and detailed information the more you use your browser. Check back in a couple of weeks to start seeing some trends.') }}</p>
            </div>
          </div>



        </div>

            <div class="graphBox">
            <div class="graphHeader">{{ _('Daily Performance Trends') }}<div class="icon"></div></div>
            <div class="graph"></div>
            </div>

        </div>


      <script>
        $("#button-goToMyReport").mouseup(function() {
          $(".outerContainer-lightBox").toggleClass("fade");
          $(".outerContainer-introSheet").toggleClass("fade");
          setTimeout(function(){ $(".outerContainer-lightBox").toggleClass("toggled");}, 300);
        });
      </script>

      <script>
        $(".closeTip").mouseup(function() {
          var tipBox = $(this).parent();
          tipBox.toggleClass("close");
          setTimeout(function(){ tipBox.toggleClass("hide");}, 250);
        });

        $(".tipBox-header").mouseup(function() {
          $(this).siblings(".tipBox-content").toggleClass("collapse");
          $(this).children(".tipBox-header > .expanderArrow").toggleClass("collapse");
          $(this).siblings(".buttonRow").toggleClass("collapse");
        });
      </script>

      <script>
        $(".activationWidget").mouseup(function() {
          $(".activationWidget").toggleClass("disabled");
          $(".tabEnabledText").toggleClass("disabled");

          $(".tabEnabledText").text(function() {
            if ($(this).text() == '{{ _('ON') }}') {
              return '{{ _('OFF') }}';
            } else {
              return '{{ _('ON') }}';
            }
          });

/*           $(".tabEnabledText").text("Disabled"); */
          $(".disabledPanel").toggleClass("toggled");
          setTimeout(function(){ $(".disabledPanel").toggleClass("toggled");}, 5000);
        });
      </script>


        </div>




</body></html>
