<!doctype html>
<html lang="{{ LANG }}" dir="{{ DIR }}" ng-app="UPDashboard">
    <head>
        <meta charset="utf-8" />
        <title>{{ _('Firefox User Profile') }}</title>
        <link href="css/normalize.css" type="text/css" rel="stylesheet" media="screen" />
        <link href="css/styles.css" type="text/css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="persistentHeader">
            <div class="headerContainer">
                <div class="navAndBlurb">
                    <ul class="nav">
                        <li class="nav-category"><a href="#profile" class="active">{{ _('Firefox User Profile') }}</a></li>
                    </ul>
                    <div class="blurb">{{ _('Personalize the web to your interests.') }} <a href="https://support.mozilla.org/kb/firefox-health-report-understand-your-browser-perf" class="learn_more">{{ _('Learn more...') }}</a>
                        <a href="//www.mozilla.org/legal/privacy/firefox.html" class="newtab">{{ _('Privacy Policy') }}</a></div>
                </div>
            </div>

            <!-- activation widget -->
            <div ng-class="{disabled: !prefs.enabled}" class="activationWidget" ng-click="toggle()" ng-controller="activationCtrl">
                <div class="activationTrigger">
                    <p class="activationTextContainer">
                        {{ _('Data Sharing') }}<br/>
                        <span ng-show="prefs.enabled" class="statusText">{{ _('ON') }}</span>
                        <span ng-hide="prefs.enabled" class="statusText disabled">{{ _('OFF') }}</span>
                    </p>
                    <span class="activationTabContainer">
                        <div class="activationTabOverlay"></div>
                        <div class="activationTab"></div>
                    </span>
                </div>

                <div class="panelContainer" ng-hide="prefs.enabled">
                    <div class="panelContainerArrow"></div>
                    <div class="panelContainerBase">
                        <div class="panelContainerContent">
                        <p>{{ _('You\'ve chosen to stop sharing data with Mozilla, but you\'ll still be able to see how your browser is performing.') }}</p>
                        <p class="greyText">{{ _('Your Health Report data will also be removed from Mozilla\'s servers. Learn more in our <a href="%(privacy_url)s" class="newtab">privacy policy.</a>')|format(privacy_url='http://www.mozilla.org/legal/privacy/firefox.html') }}</p>
                        </div>
                    </div>
                </div>

                <div class="panelContainer" ng-show="prefs.enabled">
                    <div class="panelContainerArrow"></div>
                    <div class="panelContainerBase">
                        <div class="panelContainerContent">
                            <p>{{ _('You\'ve chosen to share your data with Mozilla from time to time. Thanks for being part of our mission to build a brighter future for the Web.') }}</p>
                            <p class="greyText">{{ _('Learn how we handle your data in our <a href="%(privacy_url)s" class="newtab">privacy policy.</a>')|format(privacy_url='http://www.mozilla.org/legal/privacy/firefox.html') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="outerContainer">
            <div id="report" class="mainContent">
                <div id="interestsProfile">

                    <h3>{{ _('INTERESTS PROFILE') }}</h3>
                    <p>{{ _('Your Interest Profile is generated based on your browsing history. You can understand what your interests are and how they have changed over time. By opting in, you share your (anonymized) profile with websites, and help them to offer an experience personalized just for you.') }}</p>
                    <div id="interestsContent" ng-controller="interestsProfileCtrl">

                        <div class="detailWindow hidden" ng-show="selectedInterest">
                            <div id="interestDetailHeader">
                                <h3 class="detailTitle">[[selectedInterest.name | uppercase]]</h3>
                                <label id="interestToggle" class="toggle android" onclick="">
                                    <input type="checkbox" ng-model="selectedInterest.meta.sharable" id="interestToggleSwitch" ng-change="updateSharable(selectedInterest)" />
                                    <p>
                                        {{ _('Sharing') }}
                                        <span>{{ _('ON') }}</span>
                                        <span>{{ _('OFF') }}</span>
                                    </p>
                                    <a class="slide-button"></a>
                                </label>
                            </div>
                            <p>{{ _('You have a <span class="detailScore">[[selectedInterest.score/10]]</span>/10 interest in News overall, determined based on your visit to the following sites') }}:</p>
                            <div class="hostDetailContainer">
                                <table class="hostDetails">
                                    <thead>
                                        <tr>
                                            <td class="hostName">{{ _('Host') }}</td>
                                            <td class="hostData">{{ _('Frecency') }}</td>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="host in hosts">
                                        <tr>
                                            <td class="hostName">[[host.host]]</td>
                                            <td class="hostData">[[host.frecency]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="dataNotAvailable">
                            <em>{{ _('Interest data not available yet. Please check back after making sure Data Sharing is enabled and after your history is analyzed.') }}</em>
                        </div>
                        <div class="bar-chart hidden">
                            <dl ng-repeat="interest in interests" ng-class="'ratio-' + interest.roundScore" ng-mouseover="updateDetailWindow(interest)">
                                <dt>[[interest.name | uppercase]]</dt>
                                <dd>[[interest.score/10]]</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div id="personalizedWebsites">
                    <h3>{{ _('PERSONALIZED WEBSITES') }}</h3>
                    <p>{{ _('Your Interests are requested by the following websites. Here, you can choose which websites you would like to share your interests with, thus helping them to personalize content specifically for you.') }}</p>
                    <div ng-controller="personalizedWebsitesCtrl">
                        <div ng-hide="sites.length" class="dataNotAvailable">
                            <em>{{ _('No sites have requested your interests yet.') }}</em>
                        </div>
                        <div ng-show="sites.length" class="bar-chart">
                            <div ng-repeat="site in sites" class="">
                                <span ng-click="showInterests(site.name)">[[site.name]]</span>
                                <span ng-click="disableSite(site.name)" ng-hide="site.isBlocked" class="statusText">{{ _('ON') }}</span>
                                <span ng-click="enableSite(site.name)" ng-show="site.isBlocked" class="statusText disabled">{{ _('OFF') }}</span>
                                <span ng-click="enableSite(site.name)" ng-show="site.isPrivileged" class="statusText disabled">{{ _('PRIVILEDGED') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/angular.js"></script>
        <script type="text/javascript" src="js/up.js"></script>
    </body>
</html>
