<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>{{ _('Firefox Health Report') }}</title>
    <meta charset="utf-8">

    <link href="css/styles.css" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>

    </head>
    <body>


    <div class="persistentHeader">

      <div class="headerContainer">

        <div class="navAndBlurb">
          <div class="nav">
            <div class="nav-category active">{{ _('Firefox Health Report') }}</div>
            <div class="nav-separator"></div>
            <div class="nav-category">{{ _('Raw Data') }}</div>
          </div>
          <div class="blurb">{{ _('Get insights and performance information about your version of Firefox.') }} <a href="">{{ _('Learn more...') }}</a></div>
        </div>

        <div class="activationWidget">
          <div class="activationTextContainer">{{ _('Data Sharing') }}<br><span class="tabEnabledText">{{ _('ON') }}</span></div>
          <div class="activationTabContainer">
            <div class="activationTabOverlay"></div>
            <div class="activationTab"></div>
          </div>

          <div class="panelContainer disabledPanel">
            <div class="panelContainerArrow"></div>
            <div class="panelContainerBase">
              <div class="panelContainerContent">
                <p>{{ _('You\'ve chosen to stop sharing data with Mozilla, but you\'ll still be able to see how your browser is performing.') }}</p>
                <p class="greyText">{{ _('Your Health Report data will also be removed from Mozilla\'s servers. Learn more in our <a href="%(privacy_url)s">privacy policy.</a>')|format(privacy_url='https://mozilla.org/privacy/')  }}</p>
              </div>
            </div>
          </div>


          <div class="panelContainer enabledPanel">
            <div class="panelContainerArrow"></div>
            <div class="panelContainerBase">
              <div class="panelContainerContent">
                <p>{{ _('You\'ve chosen to share your data with Mozilla from time to time. Thanks for being part of our mission to build a brighter future for the Web.') }}</p>
                <p class="greyText">{{ _('Learn how we handle your data in our <a href="">privacy policy.</a>') }}</p>
              </div>
            </div>
          </div>


        </div>

      </div>

    </div>

        <div class="outerContainer">

          <div class="outerContainer-lightBox">
          <div class="outerContainer-introSheet">
              <div class="outerContainer-introSheet-header">{{ _('Welcome!') }}</div>
              <div class="outerContainer-introSheet-introImage">
                {{ _('Firefox Health Report lets you know how your Firefox is performing and what you can do to improve it.') }}
              </div>
              <div class="outerContainer-introSheet-button">
                <div class="spacer"></div>
                <button class="button default" id="button-goToMyReport">{{ _('See My Report') }}</button>
              </div>
          </div>
          </div>

        <div class="sidebar">
            <div class="statsBox">

          <div class="statsBoxSection">
            <div class="statsBoxSection-header"><img class="icon" src="img/icon-vitalStats.png" height="16" width="28">{{ _('Vital Stats') }}</div>
            <div class="statsBoxSection-content">
              <ul>
                <li>{{ _('version') }}<span class="statsBoxSection-value">Firefox 22.0b1</span></li>
                <li>{{ _('time open') }}<span class="statsBoxSection-value">10:23 hrs</span></li>
                <li>{{ _('last crash') }}<span class="statsBoxSection-value">6/12/2012</span></li>
                <li>{{ _('bookmarks') }}<span class="statsBoxSection-value">49</span></li>
              </ul>
            </div>
            </div>
            <div class="statsBoxSection-separator"></div>

          <div class="statsBoxSection">
            <div class="statsBoxSection-header"><img class="icon" src="img/icon-thisMonth.png" height="16" width="16">{{ _('This Month') }}</div>
            <div class="statsBoxSection-content">
              <ul>
                <li>{{ _('time open') }}<span class="statsBoxSection-value">44 hrs</span></li>
                <li>{{ _('pages visited') }}<span class="statsBoxSection-value">3,458</span></li>
                <li>{{ _('crashes') }}<span class="statsBoxSection-value">1.5</span></li>
              </ul>
            </div>
            </div>
            <div class="statsBoxSection-separator"></div>

          <div class="statsBoxSection">
            <div class="statsBoxSection-header">
              <img class="icon" src="img/icon-addons.png" height="16" width="16">{{ _('Add-ons') }}<span class="statsBoxSection-value"><a href="about:addons">{{ _('View List') }}</a></span>
            </div>
            <div class="statsBoxSection-content">
              <ul>
                <li>{{ _('enabled') }}<span class="statsBoxSection-value">2</span></li>
                <li>{{ _('disabled') }}<span class="statsBoxSection-value">4</span></li>
              </ul>
            </div>
            </div>
            <div class="statsBoxSection-separator"></div>

          <div class="statsBoxSection">
            <div class="statsBoxSection-header">
              <img class="icon" src="img/icon-plugins.png" height="16" width="16">{{ _('Plugins') }}<span class="statsBoxSection-value"><a href="about:plugins">{{ _('View List') }}</a></span>
            </div>
            <div class="statsBoxSection-content">
              <ul>
                <li>{{ _('enabled') }}<span class="statsBoxSection-value">2</span></li>
                <li>{{ _('disabled') }}<span class="statsBoxSection-value">4</span></li>
              </ul>
            </div>
            </div>

            </div>
        </div>

        <div class="mainContent">

        <div class="tipBoxes">
          <div class="tipBox-container">
            <div class="icon closeTip"></div>
            <div class="tipBox-header">
              <div class="icon expanderArrow"></div>
              <div class="text">{{ _('Tips') }}</div>
            </div>
            <div class="tipBox-content">
              <p>{{ _('It looks like your browser has crashed a number of times recently. To learn more:') }}</p>
              <ul>
               <li>{{ _('Visit our <a href="%(sumo_url)s">support website</a>')|format(sumo_url='https://support.mozilla.org/') }}</li>
               <li>{{ _('View more <a href="%(details_url)s">detailed information</a>')|format(details_url='') }}</li>
              </ul>
            </div>
          </div>

          <div class="tipBox-container">
            <div class="icon closeTip"></div>
            <div class="tipBox-header">
              <div class="icon expanderArrow"></div>
              <div class="text">{{ _('Tips') }}</div>
            </div>
            <div class="tipBox-content">
              <p>{{ _('Your browser seems to be running slower than usual. To learn more:') }}</p>
               <li>{{ _('Visit our <a href="https://support.mozilla.org">support website</a>') }}</li>
               <li>{{ _('View more <a href="">detailed information</a>') }}</li>
            </div>
          </div>

          <div class="tipBox-container">
            <div class="icon closeTip"></div>
            <div class="tipBox-header">
              <div class="icon expanderArrow"></div>
              <div class="text">{{ _('Tips') }}</div>
            </div>
            <div class="tipBox-content">
              <p>{{ _('You\'ll be able to see more interesting and detailed information the more you use your browser. Check back in a couple of weeks to start seeing some trends.') }}</p>
            </div>
          </div>



        </div>

            <div class="graphBox">
            <div class="graphHeader">{{ _('Startup Time by Day') }}<div class="icon"></div></div>
            <div class="graph"></div>
            <div class="graphSelector">{{ _('Graph:') }} {{ _('Average') }} {{ _('All') }}</div>
            <div class="graphYAxis">{{ _('Time (in seconds)') }}</div>
            <div class="graphCaption">{{ _('Startup time helps determine how well your version of Firefox is performing. In general, faster times (i.e. less time) indicate better performance.') }}  <a href="">{{ _('Learn More...') }}</a></div>
            </div>

        </div>


      <script>
        $("#button-goToMyReport").mouseup(function() {
          $(".outerContainer-lightBox").toggleClass("fade");
          $(".outerContainer-introSheet").toggleClass("fade");
          setTimeout(function(){ $(".outerContainer-lightBox").toggleClass("toggled");}, 300);
        });
      </script>

      <script>
        $(".closeTip").mouseup(function() {
          var tipBox = $(this).parent();
          tipBox.toggleClass("close");
          setTimeout(function(){ tipBox.toggleClass("hide");}, 250);
        });

        $(".tipBox-header").mouseup(function() {
          $(this).siblings(".tipBox-content").toggleClass("collapse");
          $(this).children(".tipBox-header > .expanderArrow").toggleClass("collapse");
          $(this).siblings(".buttonRow").toggleClass("collapse");
        });
      </script>

      <script>
        $(".activationWidget").mouseup(function() {
          $(".activationWidget").toggleClass("disabled");
          $(".tabEnabledText").toggleClass("disabled");

          $(".tabEnabledText").text(function() {
            if ($(this).text() == '{{ _('ON') }}') {
              return '{{ _('OFF') }}';
            } else {
              return '{{ _('ON') }}';
            }
          });

/*           $(".tabEnabledText").text("Disabled"); */

          $(".disabledPanel").toggleClass("toggled");
          setTimeout(function(){ $(".disabledPanel").toggleClass("toggled");}, 5000);
          $(".enabledPanel").toggleClass("toggled");
          setTimeout(function(){ $(".enabledPanel").toggleClass("toggled");}, 5000);
        });
      </script>


        </div>

    <div class="outerContainerRaw">
      <div class="sidebarRaw">
        <div class="sidebarRawTab">{{ _('Data Collected') }}</div>
        <div class="sidebarRawTab">{{ _('Glossary') }}</div>
      </div>

      <div class="maincontentRaw">
        <div class="rawData"></div>
        <div class="glossary">

  <div id="content">
    <div id="bottom">

    <div class="table_middle">
      <div class="title">
        {{ _('Firefox Health Report') }}
      </div>
      <div class="details">
        <div id="outline-container-1" class="outline-2">
        <h2 id="sec-1"><span class="section-number-2">1</span> {{ _('What the Firefox Health Report Measures') }}</h2>
        <div class="outline-text-2" id="text-1">


        <p>
        {{ _('The Firefox Health Report (FHR) has 5 categories of metrics:') }}
        </p><dl>
        <dt><a href="#sec-2-1">{{ _('Configuration') }}</a></dt><dd>{{ _('device hardware, operating system, Firefox version') }}
        </dd>
        <dt><a href="#sec-2-2">{{ _('Customizations') }}</a></dt><dd>{{ _('add-ons, count and type') }}
        </dd>
        <dt><a href="#sec-2-3">{{ _('Performance') }}</a></dt><dd>{{ _('timing of browser events, rendering, session restores') }}
        </dd>
        <dt><a href="#sec-2-4">{{ _('Wear and Tear') }}</a></dt><dd>{{ _('length of session, how old a profile is, count of crashes, count of pages') }}
        </dd>
        <dt><a href="#sec-2-5">{{ _('Enveloping') }}</a></dt><dd>{{ _('used to manage the longitudinal data series of coarse-grained daily data') }}
        </dd>
        </dl>


        </div>

        </div>

        <div id="outline-container-2" class="outline-2">
        <h2 id="sec-2"><span class="section-number-2">2</span> {{ _('Detailed Description') }}</h2>
        <div class="outline-text-2" id="text-2">


        </div>

        <div id="outline-container-2-1" class="outline-3">
        <h3 id="sec-2-1"><a name="Configuration" id="Configuration"></a><span class="section-number-3">2.1</span> {{ _('Configuration') }}</h3>
        <div class="outline-text-3" id="text-2-1">

        <p>{{ _('Device hardware, operating system, Firefox version') }}
        </p>
        <table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
        <caption></caption>
        <colgroup><col class="left" /><col class="left" />
        </colgroup>
        <thead>
        <tr><th scope="col" class="left">{{ _('Metric') }}</th><th scope="col" class="left">{{ _('Description') }}</th></tr>
        </thead>
        <tbody>
        <tr><td class="left">appABI</td><td class="left">{{ _('Binary interface for XPCOM') }}(<a href="https://developer.mozilla.org/en/XPCOM_ABI">https://developer.mozilla.org/en/XPCOM_ABI</a>)</td></tr>
        <tr><td class="left">appBuildID</td><td class="left">{{ _('Identifier for this build of the application based on the date the build was started') }}</td></tr>
        <tr><td class="left">appBuildTargetOS</td><td class="left">{{ _('Operating System for which this build was configured') }}</td></tr>
        <tr><td class="left">appDistribution</td><td class="left">{{ _('Identifier for the particular distribution of the application in use. It is taken from the "distribution.id" preference') }}</td></tr>
        <tr><td class="left">appDistributionVersion</td><td class="left">{{ _('Version of the distribution, taken from the "distribution.version" preference') }}</td></tr>
        <tr><td class="left">appHotFixVersion</td><td class="left">{{ _('The version number of any Mozilla hotfix applied to the application') }}</td></tr>
        <tr><td class="left">appID</td><td class="left">{{ _('Identifier unique to the application that indicates it is Firefox or Thunderbird, etc. Same for all installations of an application regardless of the value of appName') }}</td></tr>
        <tr><td class="left">appName</td><td class="left">{{ _('The configured name of the application (Firefox / Aurora / Nightly for instance)') }}</td></tr>
        <tr><td class="left">appUpdateChannel</td><td class="left">{{ _('The channel this installation checks for application updates (nightly/aurora/beta/release)') }}</td></tr>
        <tr><td class="left">appVendor</td><td class="left">{{ _('The name of the company/provider who built this version') }}</td></tr>
        <tr><td class="left">appVersion</td><td class="left">{{ _('The current version of the product') }}</td></tr>
        <tr><td class="left">cpuCount</td><td class="left">{{ _('Number of processor cores') }}</td></tr>
        <tr><td class="left">isDefaultBrowser</td><td class="left">{{ _('Whether the application is currently configured to be the default browser for the operating system') }}</td></tr>
        <tr><td class="left">locale</td><td class="left">{{ _('Locale currently being used') }}</td></tr>
        <tr><td class="left">memSize</td><td class="left">{{ _('Amount of RAM in megabytes') }}</td></tr>
        <tr><td class="left">osName</td><td class="left">{{ _('Currently running Operating System (kernel) name') }}</td></tr>
        <tr><td class="left">osVersion</td><td class="left">{{ _('Currently running Operating System (kernel) version') }}</td></tr>
        <tr><td class="left">platformBuildID</td><td class="left">{{ _('The build identifier of the Gecko platform code') }}</td></tr>
        <tr><td class="left">platformVersion</td><td class="left">{{ _('The version of the Gecko platform code') }}</td></tr>
        <tr><td class="left">processorArch</td><td class="left">{{ _('Processor architecture') }}</td></tr>
        <tr><td class="left">version.date</td><td class="left">{{ _('The date this version was first used with this installation profile') }}</td></tr>
        <tr><td class="left">version.version</td><td class="left">{{ _('An application version which has been used with this installation profile') }}</td></tr>
        </tbody>
        </table>

        </div>

        </div>

        <div id="outline-container-2-2" class="outline-3">
        <h3 id="sec-2-2"><a name="Customizations" id="Customizations"></a><span class="section-number-3">2.2</span> {{ _('Customizations') }}</h3>
        <div class="outline-text-3" id="text-2-2">

        <p>{{ _('Add-ons, count and type') }}
        </p><table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
        <caption></caption>
        <colgroup><col class="left" /><col class="left" />
        </colgroup>
        <thead>
        <tr><th scope="col" class="left">{{ _('Metric') }}</th><th scope="col" class="left">{{ _('Description') }}</th></tr>
        </thead>
        <tbody>
        <tr><td class="left">addonCounts</td><td class="left">{{ _('The number of add-ons of this type that existed in the profile on this date') }}</td></tr>
        <tr><td class="left">appDisabled</td><td class="left">{{ _('True if the application automatically disabled the add-on') }}</td></tr>
        <tr><td class="left">foreignInstall</td><td class="left">{{ _('Whether this add-on was installed by the user or automatically by another application') }}</td></tr>
        <tr><td class="left">hasBinaryComponents</td><td class="left">{{ _('Whether this add-on has native code.') }}</td></tr>
        <tr><td class="left">id</td><td class="left">{{ _('The identifier of this add-on as defined by the add-on developer') }}</td></tr>
        <tr><td class="left">installDate</td><td class="left">{{ _('The most recent date this add-on was installed (previous information about an uninstalled add-on is not kept).') }}</td></tr>
        <tr><td class="left">search</td><td class="left">{{ _('The number of searches performed with this search engine from this part of the UI') }}</td></tr>
        <tr><td class="left">scope</td><td class="left">{{ _('Whether this add-on was installed in the application directory or profile directory') }}</td></tr>
        <tr><td class="left">type</td><td class="left">{{ _('Whether this add-on is an extension or a plug-in') }}</td></tr>
        <tr><td class="left">updateDate</td><td class="left">{{ _('The most recent date this add-on was updated (previous information about an uninstalled add-on is not kept).') }}</td></tr>
        <tr><td class="left">userDisabled</td><td class="left">{{ _('True if the user manually disabled the add-on') }}</td></tr>
        <tr><td class="left">version</td><td class="left">{{ _('The current version of this add-on') }}</td></tr>
        </tbody>
        </table>



        </div>

        </div>

        <div id="outline-container-2-3" class="outline-3">
        <h3 id="sec-2-3"><a name="Performance" id="Performance"></a><span class="section-number-3">2.3</span> {{ _('Performance') }}</h3>
        <div class="outline-text-3" id="text-2-3">

        <p>{{ _('Timing of browser events, rendering, session restores') }}
        </p><table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
        <caption></caption>
        <colgroup><col class="left" /><col class="left" />
        </colgroup>
        <thead>
        <tr><th scope="col" class="left">{{ _('Metric') }}</th><th scope="col" class="left">{{ _('Description') }}</th></tr>
        </thead>
        <tbody>
        <tr><td class="left">firstPaint</td><td class="left">{{ _('How long in milliseconds it took during startup for the application to render the UI and display the window') }}</td></tr>
        <tr><td class="left">main</td><td class="left">{{ _('How long in milliseconds it took during startup for the application to load libraries and finish basic initialization') }}</td></tr>
        <tr><td class="left">sessionRestored</td><td class="left">{{ _('How long in milliseconds it took during startup for the application to restore tabs from the previous session') }}</td></tr>
        </tbody>
        </table>


        </div>

        </div>

        <div id="outline-container-2-4" class="outline-3">
        <h3 id="sec-2-4"><a name="Wear-and-Tear" id="Wear-and-Tear"></a><span class="section-number-3">2.4</span> {{ _('Wear and Tear') }}</h3>
        <div class="outline-text-3" id="text-2-4">

        <p>{{ _('Length of session, how old a profile is, count of crashes, count of pages') }}
        </p>
        <table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
        <caption></caption>
        <colgroup><col class="left" /><col class="left" />
        </colgroup>
        <thead>
        <tr><th scope="col" class="left">{{ _('Metric') }}</th><th scope="col" class="left">{{ _('Description') }}</th></tr>
        </thead>
        <tbody>
        <tr><td class="left">aborted</td><td class="left">{{ _('The number of times the application was run and not cleanly shut down.') }}</td></tr>
        <tr><td class="left">abortedActiveTime</td><td class="left">{{ _('The time in seconds that the aborted sessions were not idle') }}</td></tr>
        <tr><td class="left">abortedTime</td><td class="left">{{ _('The time in seconds that the aborted sessions were running') }}</td></tr>
        <tr><td class="left">appProfileAge</td><td class="left">{{ _('The number of days since this application profile directory was created') }}</td></tr>
        <tr><td class="left">completed</td><td class="left">{{ _('The number of times the application was run and cleanly shut down.') }}</td></tr>
        <tr><td class="left">completedActiveTime</td><td class="left">{{ _('The time in seconds that the completed sessions were not idle') }}</td></tr>
        <tr><td class="left">completedTime</td><td class="left">{{ _('The time in seconds that the completed sessions were running') }}</td></tr>
        <tr><td class="left">crashCountPending</td><td class="left">{{ _('Total number of crashes that were recorded but not yet submitted') }}</td></tr>
        <tr><td class="left">crashCountSubmitted</td><td class="left">{{ _('Total number of crashes that have been submitted') }}</td></tr>
        <tr><td class="left">currentSessionActiveTime</td><td class="left">{{ _('Time in seconds the app has not been idle') }}</td></tr>
        <tr><td class="left">currentSessionTime</td><td class="left">{{ _('Time in seconds since the app was last started') }}</td></tr>
        <tr><td class="left">placesBookmarksCount</td><td class="left">{{ _('Total number of bookmarks') }}</td></tr>
        <tr><td class="left">placesPageCount</td><td class="left">{{ _('Total number of pages listed in the history') }}</td></tr>
        <tr><td class="left">uptime</td><td class="left">{{ _('How long in minutes the current session has been running') }}</td></tr>
        </tbody>
        </table>


        </div>

        </div>

        <div id="outline-container-2-5" class="outline-3">
        <h3 id="sec-2-5"><a name="Enveloping" id="Enveloping"></a><span class="section-number-3">2.5</span> {{ _('Enveloping') }}</h3>
        <div class="outline-text-3" id="text-2-5">

        <p>{{ _('Used to manage the longitudinal data series of coarse-grained daily data') }}
        </p><table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides">
        <caption></caption>
        <colgroup><col class="left" /><col class="left" />
        </colgroup>
        <thead>
        <tr><th scope="col" class="left">{{ _('Metric') }}</th><th scope="col" class="left">{{ _('Description') }}</th></tr>
        </thead>
        <tbody>
        <tr><td class="left">docID</td><td class="left">{{ _('The ID that was generated for a single data submission') }}</td></tr>
        <tr><td class="left">lastPingTime</td><td class="left">{{ _('UTC date of the last successful submission') }}</td></tr>
        <tr><td class="left">prevDocID</td><td class="left">{{ _('The ID that was generated for the last successful data submission') }}</td></tr>
        <tr><td class="left">reason</td><td class="left">{{ _('Normal or Debug submission') }}</td></tr>
        <tr><td class="left">schemaVersion</td><td class="left">{{ _('If new data types are added or the structure of the document changes, a new schemaVersion will be used.') }}</td></tr>
        <tr><td class="left">thisPingTime</td><td class="left">{{ _('UTC date of this submission') }}</td></tr>
        </tbody>
        </table>


        </div>
        </div>
        </div>

      </div>
    </div>
  </div>





        </div>
      </div>

    </div>


</body></html>
